body{
    background: linear-gradient(135deg, rgb(229, 182, 248), rgb(19, 173, 245));
    padding: 20px;
}

.shops{
    display: flex;
}

.shops img{
    width: 170px;
    margin-top: 18px;
}

.shop-info{
    margin-left: 40px;
    margin-bottom: 13px;
}

.shop-info a{
    color: black;
    text-decoration: none;
}
